/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.space{
    margin: 0 10px 10px 0 !important;
    display: inline-block !important;
    width: auto !important;
    vertical-align: top;
  }
.freeze{
  pointer-events: none;
}
.halfmargen{
  margin-bottom: 20px;
}